<?xml version="1.0"?>
<config>
    <modules>
        <IntegerNet_DevDashboard>
            <version>0.1.0</version>
        </IntegerNet_DevDashboard>
    </modules>
    <global>
        <models>
            <integernet_devdashboard>
                <class>IntegerNet_DevDashboard_Model</class>
                <resourceModel>integernet_devdashboard_resource</resourceModel>
            </integernet_devdashboard>
            <integernet_devdashboard_resource>
                <class>IntegerNet_DevDashboard_Model_Resource</class>
            </integernet_devdashboard_resource>
        </models>
        <blocks>
            <integernet_devdashboard>
                <class>IntegerNet_DevDashboard_Block</class>
            </integernet_devdashboard>
        </blocks>
        <helpers>
            <integernet_devdashboard>
                <class>IntegerNet_DevDashboard_Helper</class>
            </integernet_devdashboard>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <integernet_devdashboard>IntegerNet_DevDashboard_Adminhtml</integernet_devdashboard>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <integernet_devdashboard>
                    <file>integernet_devdashboard.xml</file>
                </integernet_devdashboard>
            </updates>
        </layout>
        <translate>
            <modules>
                <integernet_devdashboard>
                    <files>
                        <default>IntegerNet_DevDashboard.csv</default>
                    </files>
                </integernet_devdashboard>
            </modules>
        </translate>
    </adminhtml>
    <phpunit>
        <suite>
            <modules>
                <IntegerNet_DevDashboard/>
            </modules>
        </suite>
    </phpunit>
</config>